<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <p>
        Hi, my name is Honami Gonda. I am a Web Design and Development student
        interested in UX/UI design and web development.
    </p>

    <h2>My Hobbies and Interests</h2>
    <ul>
        <li>Photography</li>
        <li>Web design</li>
        <li>UX/UI design</li>
        <li>Volleyball</li>
    </ul>

    <img src="/images/profile.jpeg" alt="profile picture">
</main>

<%- include('partials/footer') %>